/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px){
  /* Nav */
  .logo {
		color: #F6F6F6;
    font-family: 'Nunito', 'sans-serif';
    font-weight: 700;
    font-size: 12pt;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .toggle {
    order: 1;
  }
  .toggle > a > i {
    font-size: 16px;
    color: #F6F6F6;
  }
  .mobile-navlink.button {
    order: 3;
  }
  .mobile-navlink {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .mobile-navlink.active {
    display: block;
  }
  .full-nav {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #35255a;
    z-index: 1;
  }
  /*  */
  .main-content {
    width: 100%;
    overflow: scroll;
  }
  .title-bar {
    width: 100%;
  }
  .page-title {
    margin-left: 10px;
  }
  .sub-title {
    text-align: left;
    width: 100%;
    margin-left: 20px;
  }
  .info-card {
    margin: 20px;
  }
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Nav */
  .logo {
		color: #F6F6F6;
    font-family: 'Nunito', 'sans-serif';
    font-weight: 700;
    font-size: 18pt;
    left: 20px;
    position: absolute;
  }
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }
  .toggle {
    display: none;
  }
  .mobile-navlink {
    display: block;
    width: auto;
    margin: 0px 15px;
  }
  .logo {
      order: 0;
  }
  .mobile-navlink {
      order: 1;
  }
  .button {
      order: 2;
  }
  .menu li {
      padding: 15px 10px;
  }
  .menu li.button {
      padding-right: 0;
  }
  /*  */
  .main-content {
    width: 100%;
    overflow: scroll;
  }
  .title-bar {
    width: 100%;
  }
  .page-title {
    margin-left: 10px;
  }
  .sub-title {
    text-align: left;
    width: 100%;
    margin-left: 20px;
  }
  .info-card {
    margin: 20px;
  }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Nav */
  .logo {
		color: #F6F6F6;
    font-family: 'Nunito', 'sans-serif';
    font-weight: 700;
    font-size: 18pt;
    left: 20px;
    position: absolute;
  }
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }
  .toggle {
    display: none;
  }
  .mobile-navlink {
    display: block;
    width: auto;
    margin: 0px 15px;
  }
  .logo {
      order: 0;
  }
  .mobile-navlink {
      order: 1;
  }
  .button {
      order: 2;
  }
  .menu li {
      padding: 15px 10px;
  }
  .menu li.button {
      padding-right: 0;
  }
  /*  */
  .main-content {
    width: 100%;
    overflow: scroll;
  }
  .title-bar {
    width: 100%;
  }
  .page-title {
    margin-left: 10px;
  }
  .sub-title {
    text-align: left;
    width: 100%;
  }
  .sub-title {
    text-align: left;
    width: 100%;
    margin-left: 20px;
  }
  .info-card {
    margin: 10%;
  }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Nav */
  .no-border {
    border: none;
  }
  .logo {
		color: #F6F6F6;
    font-family: 'Nunito', 'sans-serif';
    font-weight: 700;
    font-size: 18pt;
    left: 20px;
    position: absolute;
  }
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }
  .toggle {
    display: none;
  }
  .mobile-navlink {
    display: block;
    width: auto;
    margin: 0px 15px;
  }
  .logo {
      order: 0;
  }
  .mobile-navlink {
      order: 1;
  }
  .button {
      order: 2;
  }
  .menu li {
      padding: 15px 10px;
  }
  .menu li.button {
      padding-right: 0;
  }
  /*  */
  .main-content {
    width: 80%;
  }
  .title-bar {
    width: 80%;
  }
  .sub-title {
    text-align: left;
    width: 80%;
  }
  .info-card {
    margin: 20%;
  }
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  /* Nav */
  .navbar {
    background-color: #35255a;
  }
  .no-border {
    border: none;
  }
  .logo {
		color: #F6F6F6;
    font-family: 'Nunito', 'sans-serif';
    font-weight: 700;
    font-size: 16pt;
    left: 20px;
    position: absolute;
  }
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }
  .toggle {
    display: none;
  }
  .mobile-navlink {
    display: block;
    width: auto;
    margin: 0px 15px;
  }
  .logo {
      order: 0;
  }
  .mobile-navlink {
      order: 1;
  }
  .button {
      order: 2;
  }
  .menu li {
      padding: 15px 10px;
  }
  .menu li.button {
      padding-right: 0;
  }
  /*  */
  .main-content {
    width: 80%;
  }
  .title-bar {
    width: 80%;
  }
  .sub-title {
    text-align: left;
    width: 80%;
  }
  .info-card {
    margin: 20%;
  }
}
/*Common styles*/
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
}
body {
  color: #555555;
  font-family: 'Roboto', 'sans-serif';
  font-size: 10pt;
}
*,
a {
	outline: none!important;
}
a {
	outline: none;
	text-decoration: none;
	color: inherit;
}
.mobile-navlink > a {
  color: #F6F6F6;
}
.mobile-navlink > a:hover,
.mobile-navlink > a:focus {
	color: #CCCCCC;
}
.none {
  display: none;
}
/* Nav */
.navbar {
  background-color: #35255a;
}
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.menu li {
  padding: 15px 5px;
  white-space: nowrap;
}
/*  */
.highlight,
thead,
.users-name {
  color: #35255a;
}
.content,
.fullwidth {
  height: 100%;
  width: 100%;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.margin {
  margin: 20px;
}
.table {
  border: 1px solid #EEEEEE;
  padding: 20px;
  background-color: #F6F6F6;
  border-collapse: collapse;
}
th,
td {
  text-align: left;
  padding: 10px;
}
thead > tr,
tbody > tr {
  border-bottom: 1px solid #EEEEEE;
}
.options {
  display: flex;
  justify-content: center;
  align-items: center;
}
.center {
  text-align: center;
}
.view-btn,
.delete-btn {
  margin: 0px 10px;
  padding: 10px 20px;
  border-radius: 10px;
}
.view-btn {
  background-color: #35255a;
  color: #F6F6F6;
}
.delete-btn {
  background-color: #D70026;
  color: #F6F6F6;
}
/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.close {
  color: #35255a;
  position: fixed;
  top: 5%;
  right: 22%;
  font-size: 30px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #CCCCCC;
  text-decoration: none;
  cursor: pointer;
}
.info-card {
  height: auto;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.img {
  width: 100%;
}
.info-card-img,
.info-card-id,
.info-card-title,
.info-card-description,
.info-card-date,
.info-card-user {
  margin-bottom: 20px;
}
.mb5 {
  margin-bottom: 5px;
}
/* Confirm modal */
.confirmModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: flex-start;
  padding-top: 50px;
}
.delete-card {
  height: auto;
  background-color: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.delete-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}
.delete-options > .view-btn {
  border-color: #35255a;
}
.delete-options > .delete-btn {
  border-color: #D70026;
}
.update-status-select {
  color: #555555;
  border: none;
  padding: 10px;
  background-color: #eee;
}
.blacklisted {
  opacity: 0.6;
}
