/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px){
  /* Nav */
  nav {
    padding: 0px;
  }
  .logo {
		color: #F6F6F6;
    font-family: 'Nunito', 'sans-serif';
    font-weight: 700;
    font-size: 12pt;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .toggle {
    order: 1;
  }
  .toggle > a > i {
    font-size: 16px;
  }
  .mobile-navlink.button {
    /* order: 2; */
    order: 3;
  }
  .mobile-navlink {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .mobile-navlink.active {
    display: block;
  }
  .button {
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: #F6F6F6;
    color: #35255a;
    margin: 0px 30%;
  }
  .full-nav {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #35255a;
    z-index: 1;
  }
  /*  */
  body {
    margin: 0px;
  }
	.container {
		font-family: 'Roboto', 'sans-serif';
		color: #F6F6F6;
    margin: 0px;
		background-image: url('../graphics/background1.svg');
		background-repeat: no-repeat;
		background-size: cover;
		background-size: 100% auto;
    background-color: #FFFFFF;
    /* padding: 0px 10px; */
	}
  .content {
		padding: 20px 20px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
  }
  .tagline {
		margin-top: 80px;
		background-color: #FFFFFF;
		border-radius: 10px;
		padding: 20px;
  }
  .title {
    margin-bottom: 10px;
    font-size: 14pt;
    font-weight: 700;
		font-family: 'Nunito', 'sans-serif';
		text-align: center;
		color: #35255a;
  }
  .description {
    font-size: 10pt;
    font-family: 'Roboto', 'sans-serif';
    width: 100%;
		text-align: center;
		color: #555555;
  }
  .signup-form {
		border-radius: 10px;
		background-color: #FFFFFF;
		bottom: 20px;
		position: absolute;
  }
  .form-title {
    margin: 0px;
		margin-bottom: 20px;
		color: #35255a;
		text-align: center;
		font-size: 12pt;
  }
  .signup-field {
    height: 20px;
    width: 100%;
    margin-bottom: 10px;
    border: none;
		border-bottom: 1px solid #EEEEEE;
    padding-left: 5px;
    font-size: 10pt;
    margin-bottom: 20px;
	}
	.name-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.name {
		width: auto;
	}
  .btn-wrapper {
    text-align: center;
  }
  .cta {
    background-color: #fcca0e;
    padding: 10px;
    border-radius: 10px;
    color: #35255a;
    font-size: 10pt;
    width: 100%;
    border: none;
  }
  .signin-container {
    background-color: #35255a;
    background-image: none;
  }
  .signin-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-wrapper {
    width: 100%;
  }
  .signin-form {
    background-color: #FFFFFF;
    padding: 20px;
  }
  .feed-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    background-color: #FFFFFF;
    padding: 0px;
    margin: 0px;
  }
  .card-title {
    font-size: 12pt;
  }
  .feed-img-wrapper {
    margin: 0px;;
  }
  .feed-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .pleft-pright10 {
    padding: 0px 10px;
  }
  .fa-heart,
  .fa-comment-dots,
  .fa-flag {
    font-size: 18px;
    margin: 10px;
    color: #35255a;
  }
}
/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
	/* Nav */
	.logo {
		color: #F6F6F6;
    font-family: 'Nunito', 'sans-serif';
    font-weight: 700;
    font-size: 14pt;
	}
  .signin {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #F6F6F6;
    color: #35255a;
  }
	/*  */
	body {
		font-family: 'Roboto', 'sans-serif';
		color: #F6F6F6;
		margin: 0px;
		background-image: url('../graphics/background1.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 100% auto;
		background-color: #FFFFFF;
	}
  .content {
		padding: 20px 20px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		right: 0;
		position: absolute;
		background-color: #FFFFFF;
		opacity: 0.9;
		border-radius: 10px;
  }
  .tagline {
    margin-bottom: 10px;
  }
  .title {
    margin-bottom: 10px;
    font-size: 18pt;
    font-weight: 700;
		font-family: 'Nunito', 'sans-serif';
		text-align: center;
		color: #35255a;
  }
  .description {
    font-size: 10pt;
    font-family: 'Roboto', 'sans-serif';
    width: 350px;
		text-align: center;
		color: #555555;
  }
  .signup-form {
    width: 350px;
		padding: 10px;
		border-radius: 10px;
		background-color: #FFFFFF;
  }
  .form-title {
    margin: 0px;
		margin-bottom: 20px;
		color: #35255a;
		text-align: center;
		font-size: 12pt;
  }
  .signup-field {
    height: 20px;
    width: 100%;
    margin-bottom: 10px;
    border: none;
		border-bottom: 1px solid #EEEEEE;
    padding-left: 5px;
    font-size: 10pt;
    margin-bottom: 20px;
	}
	.name-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.name {
		width: auto;
	}
  .btn-wrapper {
    text-align: center;
  }
  .cta {
    background-color: #fcca0e;
    padding: 10px;
    border-radius: 10px;
    color: #35255a;
    font-size: 10pt;
    width: 100%;
    border: none;
  }
  .feed-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    background-color: #FFFFFF;
    padding: 0px;
    margin: 0px;
  }
  .card-title {
    font-size: 12pt;
  }
  .feed-img-wrapper {
    margin: 0px;;
  }
  .feed-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .pleft-pright10 {
    padding: 0px 10px;
  }
  .fa-heart,
  .fa-comment-dots,
  .fa-flag {
    font-size: 18px;
    margin: 10px;
    color: #35255a;
  }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Nav */
  nav {
    padding: 0px;
  }
  .full-nav {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #35255a;
    z-index: 1;
  }
  .menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
  .toggle > a > i {
    font-size: 18px;
  }
  .mobile-navlink {
    width: 100%;
    text-align: center;
    order: 3;
    display: none;
  }
  .mobile-navlink.active {
    display: block;
  }
  .mobile-navlink.button {
    order: 3;
  }
  .button a:hover {
    text-decoration: none;
  }
	.logo {
		color: #F6F6F6;
    font-family: 'Nunito', 'sans-serif';
    font-weight: 700;
    font-size: 14pt;
    flex: 1;
	}
  .button {
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    background-color: #F6F6F6;
    color: #35255a;
    margin: 0px 40%;
  }
	/*  */
	body {
		font-family: 'Roboto', 'sans-serif';
		color: #F6F6F6;
		margin: 0px;
		background-image: url('../graphics/background1.svg');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: 100% auto;
		background-color: #FFFFFF;
	}
  .content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		bottom: 150px;
		position: absolute;
		background-color: #FFFFFF;
		width: 100%;
  }
  .tagline {
    margin-bottom: 10px;
  }
  .title {
    margin-bottom: 10px;
    font-size: 18pt;
    font-weight: 700;
		font-family: 'Nunito', 'sans-serif';
		text-align: center;
		color: #35255a;
  }
  .description {
    font-size: 10pt;
    font-family: 'Roboto', 'sans-serif';
    width: 350px;
		text-align: center;
		color: #555555;
  }
  .signup-form {
    width: 350px;
		padding: 10px;
		border-radius: 10px;
		background-color: #FFFFFF;
  }
  .form-title {
    margin: 0px;
		margin-bottom: 20px;
		color: #35255a;
		text-align: center;
		font-size: 12pt;
  }
  .signup-field {
    height: 20px;
    width: 100%;
    margin-bottom: 10px;
    border: none;
		border-bottom: 1px solid #EEEEEE;
    padding-left: 5px;
    font-size: 10pt;
    margin-bottom: 20px;
	}
	.name-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.name {
		width: auto;
	}
  .btn-wrapper {
    text-align: center;
  }
  .cta {
    background-color: #fcca0e;
    padding: 15px;
    border-radius: 10px;
    color: #35255a;
    font-size: 10pt;
    width: 100%;
    border: none;
  }
  .signin-body {
    background-color: #35255a;
    background-image: none;
  }
  .signin-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-wrapper {
    width: 60%;
  }
  .signin-form {
    background-color: #FFFFFF;
    padding: 20px;
    margin-top: 50px;
  }
  .feed-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    background-color: #FFFFFF;
    padding: 0px;
    margin: 0px;
  }
  .card-title {
    font-size: 12pt;
  }
  .feed-img-wrapper {
    margin: 0px;;
  }
  .feed-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .pleft-pright10 {
    padding: 0px 10px;
  }
  .fa-heart,
  .fa-comment-dots,
  .fa-flag {
    font-size: 18px;
    margin: 10px;
    color: #35255a;
  }
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Nav */
  .navbar {
    padding-bottom: 10px;
    border-bottom: 0.5px solid #f6f6f629;
  }
  .logo {
		color: #F6F6F6;
    font-family: 'Nunito', 'sans-serif';
    font-weight: 700;
    font-size: 18pt;
    left: 20px;
    position: absolute;
  }
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }
  .button {
    padding: 10px 20px !important;
    border: none;
    border-radius: 10px;
    background-color: #F6F6F6;
    color: #35255a;
  }
  .color {
    color: #35255a;
  }
  .toggle {
    display: none;
  }
  .mobile-navlink {
    display: block;
    width: auto;
    margin: 0px 15px;
  }
  .logo {
      order: 0;
  }
  .mobile-navlink {
      order: 1;
  }
  .button {
      order: 2;
  }
  .menu li {
      padding: 15px 10px;
  }
  .menu li.button {
      padding-right: 0;
  }
	/*  */
	body {
		font-family: 'Roboto', 'sans-serif';
		color: #F6F6F6;
		margin: 0px;
		background-image: url('../graphics/background1.svg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 100% auto;
		background-color: #FFFFFF;
	}
  .content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		bottom: 150px;
		position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    height: 60%;
  }
  .tagline {
    margin-bottom: 20px;
  }
  .title {
    margin-bottom: 10px;
    font-size: 22pt;
    font-weight: 700;
		font-family: 'Nunito', 'sans-serif';
		text-align: center;
		color: #35255a;
  }
  .description {
    font-size: 11pt;
    font-family: 'Roboto', 'sans-serif';
    width: 400px;
		text-align: center;
		color: #555555;
  }
  .signup-form {
    width: 350px;
		padding: 20px;
		border-radius: 10px;
		background-color: #FFFFFF;
  }
  .form-title {
    margin: 0px;
		margin-bottom: 20px;
		color: #35255a;
		text-align: center;
  }
  .signup-field {
    height: 25px;
    width: 100%;
    margin-bottom: 10px;
    border: none;
		border-bottom: 1px solid #EEEEEE;
    padding-left: 5px;
    font-size: 10pt;
    margin-bottom: 20px;
	}
	.name-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.name {
		width: auto;
	}
  .btn-wrapper {
    text-align: center;
  }
  .cta {
    background-color: #fcca0e;
    padding: 15px;
    border-radius: 10px;
    color: #35255a;
    font-size: 10pt;
    width: 100%;
    border: none;
  }
  .signin-body {
    background-color: #35255a;
    background-image: none;
  }
  .signin-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-wrapper {
    width: 50%;
  }
  .signin-form {
    background-color: #FFFFFF;
    padding: 20px;
    margin-top: 50px;
  }
  .feed-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card {
    background-color: #FFFFFF;
    padding: 20px;
    margin: 0px 0px 40px 0px;
    border-radius: 10px;
  }
  .feed-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .fa-heart,
  .fa-comment-dots,
  .fa-flag {
    font-size: 18px;
    margin: 10px;
    color: #35255a;
  }
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .container {
    padding: 20px;
  }
  /* Nav */
  .navbar {
    padding-bottom: 10px;
    border-bottom: 0.5px solid #f6f6f629;
  }
  .no-border {
    border: none;
  }
  .logo {
		color: #F6F6F6;
    font-family: 'Nunito', 'sans-serif';
    font-weight: 700;
    font-size: 18pt;
    left: 20px;
    position: absolute;
  }
  .menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }
  .button {
    padding: 10px 20px !important;
    border: none;
    border-radius: 10px;
    background-color: #F6F6F6;
    color: #35255a;
  }
  .color {
    color: #35255a;
  }
  .toggle {
    display: none;
  }
  .mobile-navlink {
    display: block;
    width: auto;
    margin: 0px 15px;
  }
  .logo {
      order: 0;
  }
  .mobile-navlink {
      order: 1;
  }
  .button {
      order: 2;
  }
  .menu li {
      padding: 15px 10px;
  }
  .menu li.button {
      padding-right: 0;
  }
	/*  */
	body {
		font-family: 'Roboto', 'sans-serif';
		color: #F6F6F6;
		margin: 0px;
		background-image: url('../graphics/background1.svg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 100% 100%;
		background-color: #FFFFFF;
	}
  .content {
		padding: 0px 20px;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
  }
  .tagline {
    margin-bottom: 20px;
  }
  .title {
    margin-bottom: 10px;
    font-size: 22pt;
    font-weight: 700;
		font-family: 'Nunito', 'sans-serif';
		text-align: center;
  }
  .description {
    font-size: 11pt;
    font-family: 'Roboto', 'sans-serif';
    width: 400px;
    text-align: center;
  }
  .signup-form {
    width: 350px;
		padding: 20px;
		border-radius: 10px;
		background-color: #FFFFFF;
  }
  .form-title {
    margin: 0px;
		margin-bottom: 20px;
		color: #35255a;
		text-align: center;
  }
  .signup-field {
    height: 25px;
    width: 100%;
    margin-bottom: 10px;
    border: none;
		border-bottom: 1px solid #EEEEEE;
    padding-left: 5px;
    font-size: 10pt;
    margin-bottom: 20px;
	}
	.name-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
	.name {
		width: auto;
	}
  .btn-wrapper {
    text-align: center;
  }
  .cta {
    background-color: #fcca0e;
    padding: 15px;
    border-radius: 10px;
    color: #35255a;
    font-size: 10pt;
    width: 100%;
    border: none;
  }
  .signin-body {
    background-color: #35255a;
    background-image: none;
  }
  .signin-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .feed-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-wrapper {
    width: 40%;
  }
  .card {
    background-color: #FFFFFF;
    padding: 20px;
    margin: 0px 0px 40px 0px;
    border-radius: 10px;
  }
  .feed-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .fa-heart,
  .fa-comment-dots,
  .fa-flag {
    font-size: 18px;
    margin: 10px;
    color: #35255a;
  }
}
/*Common styles*/
html, body {
  width: 100%;
  height: 100%;
}
*,
a {
	outline: none!important;
}
a {
	outline: none;
	text-decoration: none;
	color: inherit;
}
.mobile-navlink > a:hover,
.mobile-navlink > a:focus {
	color: #CCCCCC;
}
.none {
  display: none;
}
/* Nav */
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}
.menu li {
  padding: 15px 5px;
  white-space: nowrap;
}
/*  */
.alt {
  font-size: 10pt;
}
.alt > a {
  color: #35255a;
}
.center {
  text-align: center;
}
.text {
  color: #555555;
}
.highlight {
  color: #35255a;
}
.bold {
  font-weight: 700;
}
.mr10 {
  margin-right: 10px;
}
